@import "../../scss/index.scss";

$animated-timer-color: $purple;

.animated-timer {
  border-radius: 100%;
  position: absolute;
  border-style: solid;
  border-color: $animated-timer-color;
  z-index: 0;

  &__minute-hand {
    position: absolute;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      width: 10%;
      height: 30%;
      border-radius: 100px 100px 0 0;
      background-color: $animated-timer-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -90%);
    }
  }

  &__second-hand {
    position: absolute;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      width: 10%;
      height: 45%;
      border-radius: 100px 100px 0 0;
      background-color: $animated-timer-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -90%);
    }
  }

  &__center-circle {
    position: absolute;
    background-color: $animated-timer-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}
