@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$animated-timer-color: #9964ea;

*,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.main-page {
  height: 100vh;
  background: linear-gradient(111.34deg, #3a0ca3 0%, #9b5de5 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    .titles {
      .title {
        font-size: 107px;
        font-weight: 900;
        text-align: center;
        color: #fff19a;
      }

      .subtitle {
        font-weight: 500;
        font-size: 63px;
        text-align: center;
        color: #ffffff;
      }
    }

    .options {
      .option {
        display: flex;
        margin: 15px;
        justify-content: flex-end;

        div {
          font-weight: 500;
          font-size: 36px;
          text-align: center;
          color: #ffffff;
          margin-right: 20px;
        }

        input {
          width: 420px;
          height: 52px;
          border: 4px solid #fee440;
          box-sizing: border-box;
          border-radius: 19px;
          background: none;
          font-weight: 900;
          line-height: 47px;
          font-size: 30px;
          padding: 0 15px;
          color: #333;
          outline: none;

          &::placeholder {
            color: #e8e8e8;
          }
        }

        .btn-create {
          width: 420px;
          height: 52px;
          background: #fee440;
          border-radius: 19px;
          font-weight: 900;
          font-size: 30px;
          line-height: 47px;
          text-align: center;
          color: #897c2a;
          outline: none;
          border: none;

          &:hover {
            background: #e7d14b;
          }

          &:active {
            background: #fff095;
          }
        }
      }
    }
  }
}

.animated-timer {
  border-radius: 100%;
  position: absolute;
  border-style: solid;
  border-color: $animated-timer-color;
  z-index: 0;

  .anim-timer-minute-hand {
    position: absolute;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      width: 10%;
      height: 30%;
      border-radius: 100px 100px 0 0;
      background-color: $animated-timer-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -90%);
    }
  }

  .anim-timer-second-hand {
    position: absolute;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      width: 10%;
      height: 45%;
      border-radius: 100px 100px 0 0;
      background-color: $animated-timer-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -90%);
    }
  }

  .anim-timer-center-circle {
    position: absolute;
    background-color: $animated-timer-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}
